<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERWIS1</title>
</head>
<body>
<h3>Generuj Json </h3>

  <form action="{% url 'base:index' %}" method="post">
        {% csrf_token%}
        {{form.as_p}}
        <button class="btn btn-secondary" name="submit">Generuj</button>
    </form>
<br>
<br>
<a href="https://serwis01.herokuapp.com/generate/json/all/"> Wszystkie Jsony wygenerowane do tej pory</a>

<p>1. Serwis który zwraca pod adresem ‘/generate/json/{size}’ liste jsonow o wskazanym rozmiarze
oraz o strukturze poniżej z losowymi wartościami.
np.
    <br>
    <br>
{ _type: "Position", _id: 65483214, key: null, name: "Oksywska", fullName: "Oksywska,
Poland", iata_airport_code: null, type: "location", country: "Poland", geo_position:
{ latitude: 51.0855422, longitude: 16.9987442 }, location_id: 756423, inEurope: true,
countryCode: "PL", coreCountry: true, distance: null }
2. Serwis</p>


<br>
<br>
<h5>Uwagi:</h5>
<p>odnośnie "iata_airport_code" to korzystałem z darmowego api do 100 requestów</p>
</body>
</html>